{extend name='main'}

{block name='content'}
<table class="layui-table" lay-even lay-skin="line">
    <colgroup>
        <col width="20%">
        <col width="30%">
        <col width="20%">
        <col width="30%">
    </colgroup>
    <thead>
    <tr>
        <th class="text-left" colspan="2">系统信息</th>
        <th class="text-left" colspan="2">产品名称</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="max-width:200px">Alliance 版本</td>
        <td>{:sysconf('app_version')}</td>
        <!--<td style="max-width:200px">产品名称</td>-->
        <style>
            .box{
                width:600px;
                margin: 100px auto;
                /*border:1px solid #0094ff;*/
                padding: 35px;
                background-image:-webkit-linear-gradient(left,#3498db 0%,#f47920 10%,#d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db 100%);
                color:transparent;
                background-size:200% 100%;
                -webkit-background-clip:text;
                font-size:4em;
                text-align:center;
                animation: move 3s infinite linear;
            }
            @keyframes move{
                0%{
                    background-position:0 0;
                }
                100%{
                    background-position:-100% 0;
                }
            }
        </style>
        <td colspan="2" rowspan="8"><div style="text-align:center;font-size: 100px" class='box'>Alliance</div></td>
    </tr>
    <tr>
        <td>ThinkPHP 版本</td>
        <td>{$think_ver}</td>
    </tr>
    <tr>
        <td>服务器操作系统</td>
        <td>{:php_uname('s')}</td>
    </tr>
    <tr>
        <td>WEB运行环境</td>
        <td>{:php_sapi_name()}</td>
    </tr>
    <tr>
        <td>MySQL数据库版本</td>
        <td>{$mysql_ver}</td>
    </tr>
    <tr>
        <td>运行PHP版本</td>
        <td>{$Think.PHP_VERSION}</td>
    </tr>
    <tr>
        <td>上传大小限制</td>
        <td>{:ini_get('upload_max_filesize')}</td>
    </tr>
    <tr>
        <td>POST大小限制</td>
        <td>{:ini_get('post_max_size')}</td>
    </tr>
    </tbody>
</table>
{/block}